doctype html
html(ng-app='appirio-tech-timeline')
  head
    title Display

    link(href="styles/display.css", rel="stylesheet")

  body
    h1 Center align the following elements.
    .center
      .block hello
      .display-block
      .inline

